
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background: rgb(87, 119, 142);
    color:black;
    padding: 10px 0;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    
}

.nav-links {
    list-style: none;
    display: flex;
}

.nav-link {
    color: #5d20ce;
    text-decoration: none;
    margin: 0 15px;
}

.theme-toggle {
    cursor: pointer;
}


main {
    padding: 20px;
}

.section-title {
    font-size: 2em;
    margin-bottom: 20px;
}


.projects {
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px;
}

.project-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.project-card {
    background: #e3cad9;
    border: 1px solid #ddd;
    border-radius: 5px;
    overflow: hidden;
    flex: 1 1 calc(50% - 20px);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    transition: transform 0.3s ease;

}

.project-card img {
    max-width: 500px;
    height: auto;
    border-bottom: 1px solid #ddd;
}

.project-card h3 {
    margin: 10px 0;
    font-size: 1.2em;
}

.project-card p {
    font-size: 1em;
    text-align: center;
    margin: 10px 0;
}

.project-card .project-link {
    margin-top: auto;
    background: #333;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    transition: 0.3s ease;
}

.project-card .project-link:hover {
    background: #555;
}

.project-card:hover {
    transform: scale(1.05);
}


.contact {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.contact-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#contact-form {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 600px;
}

#contact-form input,
#contact-form textarea {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 5px;
}

#contact-form button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background: #333;
    color: #fff;
    cursor: pointer;
    transition: 0.3s ease;
}

#contact-form button:hover {
    background: #555;
}

.contact-section {
    margin-top: 20px;
}

.contact-message {
    font-size: 1.2em;
    text-align: center;
}

footer {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}

.footer-content {
    max-width: 1200px;
    margin: 0 auto;
}
.icon-box {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
  }
  
  .icon-box:hover {
    background-color: var(--secondary-color);
  }
  
  .icon {
    width: 20px;
    height: 20px;
  }
